<form action='/links' method="post">
  <label>Title: <input type="text" name="title"></label>
  <label>URL: <input type="text" name="url"></label>
  <label>Tags: <input type="text" name="tags"></label>
  <button type="submit">Add Bookmark</button>
</form>
